a.button6{
display:inline-block;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
text-transform:uppercase;
font-weight:400;
color:white;
background-color:#3369ff;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
}
@media screen and (min-width: 531px) {
.feedback
{
 margin-top:50px;
 text-align:center; 
}
}
@media screen and (max-width: 532px) {
.feedback
{
  display:none;
}
}
@media screen and (max-width: 531px) {
.feedback1
{
 text-align:center; 
}
}
@media screen and (min-width: 532px) {
.feedback1
{
  display:none;
}
}

a.button6:active{
top:0.1em;
color:white;
background-color:black;

}
a.button6:hover
{
color:white;
}
@media all and (max-width:30em){
a.button6{
display:block;
margin:0.4em auto;
}
}